<% recipes.forEach(recipe => { %>
<div class="card">
  <div class="card-img">
    <img src="<%= recipe.img %> " alt="cooked recipe" />
  </div>
  <div class="card-description">
    <h2><%= recipe.name %></h2>
    <p><%= recipe.category %></p>
    <p><%= recipe.description %></p>
    <div class="card-button">
      <div class="post-metadata">
        <p><%= recipe.user %></p>
        <p><%= recipe.dateAdded %></p>
      </div>
      <a href="<%= recipe.url %> "><button class="fcont">View</button></a>
    </div>
  </div>
</div>
<% }); %>
