<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <main id="view-all">
        <%- include('partials/categories.ejs') %> <%- include('partials/cards')
        %>
      </main>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
