<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe: <%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar.ejs') %>

      <div class="description">
        <h1><%= recipe.name %></h1>
        <img src="<%= locals.recipe.img %> " alt="<%= recipe.name %>" />
        <h2>Description</h2>
        <p><%= recipe.description %></p>
        <p>Prep Time: <%= recipe.time %> mins</p>
      </div>
      <div class="ingredients">
        <h2>Ingredients</h2>
        <p><%= recipe.ingredients %></p>
      </div>
      <div class="steps">
        <h2>Steps</h2>
        <%= recipe.steps %>
      </div>
      <%- include('partials/actions.ejs') %>
    </div>
  </body>
</html>
