<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe: <%= title %></title>

    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar.ejs') %>
      <main id="recipe">
        <section class="intro">
          <h1 class="title"><%= recipe.name %></h1>
          <img src="/<%= locals.recipe.img %> " alt="<%= recipe.name %>" />
          <section class="prep-time">
            <h2 class="sub-title">Prep Time</h2>
            <p><%= recipe.time %> mins</p>
          </section>
        </section>
        <section class="description">
          <h2 class="sub-title">Description</h2>
          <p><%= recipe.description %></p>
          <%- include('partials/actions.ejs') %>
        </section>
        <section class="ingredients">
          <h2 class="sub-title">Ingredients</h2>
          <ul>
            <% ingredients.forEach( ingredient => { %>
            <li><%= ingredient %></li>
            <% }) %>
          </ul>
        </section>
        <section class="steps">
          <h2 class="sub-title">Steps</h2>
          <ul>
            <% steps.forEach( step => { %>
            <li><%= step %></li>
            <% }) %>
          </ul>
        </section>
      </main>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
